
.header-content {
    position: fixed;
    z-index: 1;
    padding: 20px;
    border: 3px;
}
/*Styling style*/
style {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #0000;
    padding: 10px;
}
/*
/*Navigation*/
nav{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 10px 0px;
    z-index: 1000;
    background-color: rgba(50, 50, 60, 0.95);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.52);
}
nav ul{
    list-style: none;
    padding:0;
    display:flex;
    margin:0;
    justify-content: center;
    align-items: center;
}
nav li{
margin: 0;
}
nav a{
font-family: "montserrat", sans-serif;
color:#e6e6e6;
font-size: 16px;
text-decoration: none;
transition: color 0.3s, border-bottom 0.3s;
padding:5px;
padding-bottom: 5px;
position:relative;
}
nav a:hover{
color:#1b1b20;
border-bottom: 2px solid #e6e6e6;
}

/*styling paragraphs*/
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.6;  
    
}
#explore {
    background-color: rgba(255, 255, 255, 0.05);
    padding:20px;
    margin: 80px auto;
    max-width: 100%;
    border: 8px dotted rgba(255, 255, 255, 0.05);
    border-radius: 30px;    
}
#form{
    margin: 30px;
    background-color: antiquewhite;
}
    
h2 {
    position: sticky;
    font-family: Arial, sans-serif;
    font-size: 80px; 
    margin:50px;
    color: bisque;
}
@media (max-width: 800px) {
    h2 {
        color: blue;
        font-size: 60px;
    }
}

@media (max-width: 600px) {
    h2 {
        color: rgb(0, 255, 13);
        font-size: 30px;
    }
}
/*styling body*/

body {
    font-family: 'Courier New', Courier, monospace;
    border: 8px solid black;
    display:flexbox;
    justify-content: space-between;
    min-height: 800px;
    align-items: center;
    background-color: rgb(229, 176, 69);
    margin: 0;
                      
  }
/*styling image*/
.img-gallery{
 width: 80%;
 margin: 100px auto 50px;
 display: grid;
 grid-template-columns: repeat (auto-fit, minmax(250px, 1fr));
 grid-gap: 30px;
}
.img-gallery img{
width:100%;
cursor:pointer; 
}
.img-gallery img:hover{
    transform:scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 7px rgba(68, 77, 136, 0.2);
}
/*
div {
    border: 5px solid rgb(20, 20, 82);
    padding: 30px;
    width: 800px;
}
*/
.img2 {
width: 80%;
height: 100%;
margin: 20px;
}
img {
    position: relative;
    left: 6px; /* move image to the right*/
}

.box {
    width: 150px;
    height: 150px;
    font-size: 8em;
    text-align: center;
    border-radius: 15px;
}
#box1 { 
    background-color: rgb(101, 221, 221);
}

#box2 {
    
    background-color: rgb(149, 54, 70);
   
}
#box3 {
         
        background-color: rgb(6, 34, 19);
    }
#box4 {
         
        background-color: rgb(192, 255, 222);    
}
.container-d {
   display: flex; 
}
 