title{
    padding:10px;
    color:#01030e;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h1{
    font-family: "montserrat, sans-serif";
    font-size: 2.5rem;  
    color:#e6e6e6;
    padding: 10px;
    margin-bottom:10px;
}
h2{
    font-size: 1.4rem;
    color:#b0b0b8;    
}

body{
    background-color: #32323c;
    font-family: "montserrat, sans-serif";
    border: 8px solid black;
    display: flex;
    justify-content: space-between;
    min-height: 800px;
    align-items: center;
    flex-wrap: wrap;
}
p{
font-family: 'Courier New', Courier, monospace;
transition: none;
padding: 10px;
color: #e6e6e6;
position: top;
font-size: 16px;
}
/*navigation style*/
nav{
     position:fixed;
     top:0;
     left:0;
     width: 100%;
     padding: 10px 0px;
     z-index: 1000;
     background-color: rgba(50, 50, 60, 0.95);
     box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.52);
}
nav ul{
        list-style: none;
        padding:0;
        display:flex;
        margin:0;
        justify-content: center;
        align-items: center;
    }
nav li{
    margin: 0;
}
nav a{
    font-family: "montserrat", sans-serif;
    color:#e6e6e6;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.3s, border-bottom 0.3s;
    padding:5px;
    padding-bottom: 5px;
    position:relative;
}
nav a:hover{
    color:#1b1b20;
    border-bottom: 2px solid #e6e6e6;
}
 
.chapter-section{
    background-color: rgba(255, 255, 255, 0.05);
    padding:20px;
    margin: 80px auto;
    max-width: 100%;
    border-radius: 50px;
}
 #examplediv{
    margin: 50px;
    padding: 10px;
    border: 1px solid #080802;
    background-color: #32323c;
    box-shadow: 1px solid #1b1b20;
    border-radius: 1px;
 }
 #chrisdiv{
    margin: 50px;
    padding: 10px;
    border: 10px solid #be1d1d; 
    width: 50%;
    position: relative;  
    left: 200px;
    right: 200px
   
 }
/*header section style .container*/
.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    align-items: center;
    padding: 2rem;
    background-image: url(images/Lusaka.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    position: relative;
}

.header-content, .button-container {
    position:relative;
    z-index: 1;
}

.container::before{
    content:"" ;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
}
 /*header section style button*/
button{
    text-transform:uppercase;
    position:relative;
    border:3px solid transparent;
    font-size: 18px;
    transform:0.2s;
    outline:none;
    border-radius:3px;
    margin: 0 10px;
    padding:23px 33px;
}
button:active{
    transform: translate(3px);
 }
 button::after,
 button::after{
    border-radius: 3px;
 }
 .shrink-border{
    background-color:transparent;
    /*color:#1b1b20*/
    color: #d3d3d3;
 }
 .shrink-border:hover{
    background-color:transparent;
    box-shadow:none;
    color: #e6e6e6;
 }
 .shrink-border::before{
    content:"";
    position:absolute;
    top: 0;
    left:0;
    width:100%;
    height:100%;
    /*border: 3px solid#1b1b20*/
    border: 3px solid #959595;
    transition: opacity 0.3s;
}
.shrink-border:hover::before{
    opacity:0;
}
.shrink-border::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background-color: transparent;
    border: 3px solid #e6e6e6;
    opacity: 0;
    z-index:-1;
    transform: scaleX(1.1) scaleY(1);
}
/*footer-section styles*/
footer {
    margin: 50px 0;
    padding: 10px;
    border: 1px solid #080802;
   background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 1px solid #1b1b20;
    border-radius: 50px;
    width: 100%;
 }
.footer-content {
    text-align:center;
    max-width: 1200px;
    margin: 0 auto;
   
}
.footer-links {
list-style-type: none;
padding: 0;
display:flex;
justify-content: center;
gap: 20px;
}
.footer-links a {
    color:#e6e6e6;
    text-decoration:none;
    transform: 0.3s;
}
.footer-links a:hover {
    color:#2b6289;
    text-decoration:none;
    transform: 0.3s;
}
.footer-social {
    margin-top: 0;
}
.footer-social a{
color: #e6e6e6;
font-size: 24px;
margin: 0 10px;
text-decoration: none;
transition: color 0.3s;
}
.footer-social a:hover {
    color: #615f5f;  
    }
   .examplediv-container{
    border:#b0b0b8;
    color:#be1d1d;
   } 
   /*--Gallery section--*/
   #main-gallery-container{
    margin-top: 50px;
   }
   #gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 75vw;
    margin: 20px auto;
   }

   figure {
    margin:10px;
    padding:0px;
    position: relative;
   }
   figure img{
    width:100%;
    box-sizing: border-box;
   }
   
   #gallery img {
    padding:0px;
    border: 3px solid #fff; 
    width: 100%;
    box-shadow: 0px 0px 3px #ccc;
    z-index: -1;
    position: relative;
    box-sizing: border-box;
   }
   figcaption{
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    text-align: center;
    color: #5e423f;
    z-index: 1;
    padding: 9px 0px 11px 0px;
    font-size: 15px;
    position: absolute;
    bottom: 6px;
}
/*Media section */

@media screen and (max-width: 600px) {
    figcaption{
        font-size: 3vw;
    }
}

#gallery {
    grid-template-columns: 1fr;
    width: 90vw;
}
@media (max-width: 800px) {
    h2 {
        color: blue;
        font-size: 60px;
    }
}

@media (max-width: 600px) {
    h2 {
        color: rgb(0, 255, 13);
        font-size: 30px;
    }
}
/*contact form styles*/
.contact {
    background-color: rgba(255, 255, 255, 0.05);
    padding:20px;
    margin: 80px auto;
    max-width: 800px;
    margin-bottom: 40vh;
    box-shadow:0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    
}
.contact h2 {
    font-family: "montserrat", sans-serif;
    font-size: 24px;
    color: #e6e6e6;
    margin-bottom: 20px;
    display:inline-block;
    padding-bottom: 5px;
}
.contact form {
    font-family: "montserrat", sans-serif;
    font-size: 18px;
    color: #e6e6e6; 
    line-height: 1.6;
    margin: 0; 
}
.contact-box form input[type="checkbox"] {
    margin-right: 10px;
}
.contact-box form input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}
.contact input {
    font-family: "montserrat", sans-serif;
    font-size: 18px;
    color: #848484; 
    line-height: 1.6;
    margin: 0;  
}
.contact-box {
    text-align: center;
    flex-wrap: wrap;
}
.contact-box form input[type="submit"]:hover {
    background-color: #45a049;
}

/*table section*/
.custom-table {
    width: 100%;
    border-collapse: collapse;

}
.custom-table th, .custom-table td{
padding:10px;
border: 1px solid #ddd;
}
.table-heading-text {
    color:#2bdfff;
}
.light-text {
    font-family:  "montserrat", sans-serif;
    font-size: 14px;
    color: #bbb;
}
  /*contact us style sheet*/
  .two-column-container {
    margin: 50px 0;
    padding: 10px;
    border: 1px solid #080802;
   background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 1px solid #1b1b20;
    border-radius: 50px;
    width: 100%;
  }
  .column img {
   width: 100%;
   height: auto; 
   margin: 80px auto;
  }
  .column {
     flex-basis: 48%;
  }
  .about-section {
    background-color:rgba(255, 255, 255, 0.05);
    padding: 20px;
    margin: 80px auto;
    max-width: 800px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
  .about-section h2 {
    font-family: "montserrat", sans-serif;
    font-size: 24px;
    color: #e6e6e6;
    border-bottom: 2px solid #e6e6e6;
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 5px;
  }
  .about-section p {
    font-family: "montserrat", sans-serif;
    font-size: 18px;
    color:#e6e6e6;
    line-height: 1.6;
    margin: 0px;

  }

  /*action-section style */
  .action-section {
    margin: 50px 0;
    padding: 10px;
    border: 1px solid #080802;
   background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 1px solid #1b1b20;
    border-radius: 50px;
    width: 100%;
    text-align: center;
  }
  .action-section button {
    font-family: "montserrat", sans-serif;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    color: #e6e6e6;
  }

  /* Button Alignment for our Page*/
  .tour-content {
    display: flex;
  }
  .tour-button {
    align-self: flex-end;
  }
  /* Tours Section Styles*/

  .tour-button-container {
    text-align: right; /* Align the button to the right */
    margin-top: 10px;  /* Adjust margin as needed*/
  }

  .tour-button {
    text-transform: uppercase;
    font-family: "montserrat", sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #1b1b20;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .tour-button:hover {
background-color: #2b6289;
  } 